.home-carousel {
  background-color: white;
  background: url(../img/maritime-blog/carrousel-background-img.jpg) center center repeat;
  background-size: cover;
}

.home-carousel .dark-mask {
  opacity: 0.7;
}

.img-responsive {
	margin: auto;
}

/*Categorias - Navegação em blog*/
.panel-body > .nav-stacked {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
	#heading-breadcrumbs + .col-md-3 {
  	float: right;
	}
}

.testimonials .item .testimonial .name-picture {
	position: absolute;
}

.testimonials .item .testimonial .bottom .icon {
	  position: relative;
    right: 11px;
    bottom: 10px;
}

/*Section of the home page*/
.bar.background-pentagon {
	border: none;
}