:root {
	--ship-primary-color: #333;
	--ship-sec-color: #ce2828;
}

.home-carousel {
	background-color: white;
	background: url(../img/maritime-blog/carrousel-background-img.jpg) center center repeat;
	background-size: cover;
}

.home-carousel .dark-mask {
	opacity: 0.7;
}

@media (max-width: 400px) {
	.home-carousel h1 {
		font-size: 25px;
	}
}

@media (max-width: 250px) {
	.home-carousel h1 {
		font-size: 20px;
	}
}

.img-responsive {
	margin: auto;
}

/*Categorias - Navegação em blog*/
.panel-body > .nav-stacked {
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 992px) {
	#heading-breadcrumbs + .col-md-3 {
		float: right;
	}
}

.ours {
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	flex-wrap: wrap;
	justify-content: center;
}

.ours-image-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 50%;
	margin: 10px 25px;
}

.ours-image {
	width: inherit;
	height: inherit;
	border-radius: inherit;
	box-shadow: 2px 3px 3px grey;
	filter: grayscale(1);
	transition: all .2s;
}

.ours-image:hover {
	width: 100px;
	height: 100px;
	filter: grayscale(0);
}

.customers .item img {
	background-color: lightskyblue;
}

@media (min-width: 720px) {
	.customers .item img {
		min-width: 250px;
	}
}

.testimonials .item .testimonial .name-picture {
	position: absolute;
}

.testimonials .item .testimonial .bottom .icon {
	position: relative;
	right: 11px;
	bottom: 10px;
}

/*Section of the home page*/
.bar.background-pentagon {
	border: none;
}

#address {
	display: none;
}

/*Blog Sidebar*/
.sidebar {
	max-width: 720px;
	margin: auto;
}

#top {
	background-color: var(--ship-primary-color);
}

.bar.background-image-fixed-2 {
	background: url(../img/maritime-blog/fixed-backgroud.jpg);
	background-size: cover;
}

.testimonials .item .testimonial {
	height: 0 !important;
}

.testimonials .item .testimonial .text{
	display: none;
}

#footer {
	background-color: var(--ship-primary-color);
}

#copyright {
	background-color: var(--ship-sec-color);
	padding: 15px; 
}

